data/
ckpt/
out/
__pycache__/
lightning_logs/
lightning_logs_prev/

debug/

.Ds_Store
*.pyc
*.pyo
*.pyd


*.jpg
*.gif
*.bmp

# *.pkl
*.npy
*.npz
*.tar.gz
*.zip
*.pth

nohup.out

ShanghaiTech/

.vscode/
__MACOSX/

